<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Thyrsus.Account.Properties.Settings.nLoginConnectionString"
        connectionString="Data Source=.;Initial Catalog=nLogin;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
  <appSettings>
    <add key="Clienttype" value="NONE" />
  </appSettings>
  
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="serviceBinding" closeTimeout="00:01:00" openTimeout="00:01:00"
    receiveTimeout="00:10:00" sendTimeout="00:01:00">
          <binaryMessageEncoding>
            <readerQuotas maxDepth="10000000" maxStringContentLength="10000000"
        maxArrayLength="10000000" maxBytesPerRead="10000000" maxNameTableCharCount="10000000" />
          </binaryMessageEncoding>
          <tcpTransport  maxBufferPoolSize="10000000" maxReceivedMessageSize="10000000"
       hostNameComparisonMode="StrongWildcard" maxBufferSize="10000000" transferMode="Buffered" />
        </binding>
      </customBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metadataSupport">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="metadataSupport" name="Thyrsus.Account.Classes.Inter">
        <endpoint binding="customBinding" bindingConfiguration="serviceBinding"
         name="epInter" contract="Thyrsus.Shared.Inter.IAccount" />
        <endpoint address="mex" binding="mexTcpBinding" name="epMexInter"
         contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://127.0.0.1:5000/Inter" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>